.back_btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #2b3566;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: 0.4s;
}

.back_btn:hover {
  transform: scale(1.05);
}
